   <div class="row">
     <div class= "col-xs-12  col-sm-12 col-md-2 col-lg-2"> </div>
      <div class= "col-xs-12  col-sm-12 col-md-8 col-lg-8">       
         <div class="panel panel-default">
            <div class="panel-heading">Documentação Sistema Agendas</div>
              <div class="panel-body"> 
                  <ol>
                    <li>Instalar Nodejs e npm</li>
                    <li >Bower: npm install bower</li>
                    <li>AngularJS: bower install angular</li>
                      <li>Execute o comando:   bower install angular-route</li>
                    <li>Bootstrap: bower install bootstrap</li>
                    <li>Jasmine: bower install jasmine</li>
                    <li>Karma: bower install karma</li>
                    <li>Grunt: bower install grunt</li>
                    <li>Execute o comando: grunt init</li>   
                  </ol> 
              </div>
         </div> 
      </div>
           <div class= "col-xs-12  col-sm-12 col-md-2 col-lg-2"> </div>
  </div>  
