<div class="row">
    <div class="col-xs-12  col-sm-12 col-md-2 col-lg-2"> </div>
    <div class="col-xs-12  col-sm-12 col-md-8 col-lg-8">
        <div class="table-responsive">
            <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
            <input class="form-control padd" placeholder="Filtrar pelo nome" ng-model="filtro" ng-model-options="{ debounce: 500 }"></br>
            <table class="table table-striped table-hover">
                <!-- <caption class="lead">Contatos</caption> -->
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Apelido</th>
                        <th>Email</th>
                        <th>Data</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contato in contatos | filter: filtro">
                        <td>{{ contato.nome }}</td>
                        <td>{{ contato.sobrenome }}</td>
                        <td>{{ contato.telefone }}</td>
                        <td>{{ contato.apelido }}</td>
                        <td>{{ contato.dataCadastro }}</td>
                        <td class="pull-right"><a href="#/edit/{{contato.$id}}" class="btn btn-small btn-primary">Editar</a> <a class="btn btn-small btn-danger"
                                ng-click="removeContato(contato.$id)">Delete</a>
                        </td>
                    </tr>
                <tbody>
            </table>
            <div class="col-xs-12  col-sm-12 col-md-2 col-lg-2"> </div>
</div>